@charset "utf-8";

/* ---------------------------------------------------------------------------------------------- */
/* bootstrap overwrite */

body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}

.title {  
  position: absolute;
  left: 30px;
  top: 650px;
}

div.fadehover {
	position: relative;
	}

img.before {
	position: absolute;
	left: 760px;
	top: 420px;
  z-index: 10;
	}

img.after {
	position: absolute;
	left: 760px;
	top: 420px;
}

